:root {
    --primary-color: #03A9F4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: #1a1a1a;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0px;
}

h1 {
    color: #fff;
}

div#main {
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #fff;
    color: var(--primary-color);
}

div {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.quote {
    font-style: italic;
    margin-top: 30px;
    text-align: center;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    margin-bottom: 15px;
}
.inspiration {
    margin-top: 30px;
    font-size: 1.1em;
}
.resources {
    margin-top: 30px;
}
.resources h2 {
    margin-bottom: 15px;
}
.resources ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.resources li {
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.resources li a {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
}
.resources li a::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.interactive {
    text-align: center;
}
.quote-container {
    margin-top: 20px;
    font-style: italic;
}
.quote-text {
    display: none;
    font-size: 1.2em;
}
.quote-author {
    display: none;
}

.user-art {
    text-align: center;
    margin-top: 30px;
}

.art-container {
    margin-top: 20px;
}

canvas {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.color-of-the-day {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-indent: -9999px;
  border: 1px solid #888;
  cursor: pointer;
}

